﻿<div class="row">
    <div class="mx-auto">
        <h1 class="wow fadeIn animated">Wikipedia Search</h1>
    </div>
</div>
<div class="row">
    <div class="col-10 mx-auto">
        <div class="form wow animated flipInY">
            <input ng-model="$ctrl.searchTerm" type="text" placeholder="Type your search" ng-model-options="{ debounce: 200 }" autofocus>
            <span ng-if="$ctrl.searchTerm" class="icon clear" ng-click="$ctrl.clearTerm()" ng-keypress="$ctrl.clearTerm()" tabindex="0"></span>
            <span class="icon search" ng-click="$ctrl.getSearchResults()" ng-keypress="$ctrl.getSearchResults()" tabindex="0"></span>
            <div class="wrapper-random">
                <a class="icon random" href='https://en.wikipedia.org/wiki/Special:Random' target='_blank'></a>
            </div>
        </div>
    </div>
    <div class="col-10 mx-auto">
        <!-- Loading spinner -->
        <div ng-if="$ctrl.loading" class="spinner mx-auto">
            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>

        <div ng-if="$ctrl.noResults" class="post">
            No results found
        </div>

        <a ng-repeat="result in $ctrl.results" ng-href="https://en.wikipedia.org/?curid={{result.pageid}}" target="_blank">
            <div class="post wow animated bounceInUp bounce">
                <div class="title">{{result.title}}</div>
                <div class="summary">{{result.extract}}</div>
            </div>
        </a>
    </div>
</div>
