﻿@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
$off-white: #FAFAFA;
$light-white: #E8E7E1;
$offline-text: #777;
$black: #222;
$red: #D2190B;

@keyframes fadeBackground {
    0% {
        background-color: #1F0322;
    }

    33% {
        background-color: #8A1C7C;
    }

    66% {
        background-color: #DA4167;
    }

    100% {
        background-color: #1F0322;
    }
}

* {
    font-family: 'Helvetica Neue', helvetica, sans-serif;
    text-decoration: none !important;

    &:before {
        font-family: FontAwesome;
    }
}

body {
    animation: fadeBackground ease 20s infinite;
}

h1 {
    font-size: 30px;
    line-height: 1.6;
    padding: 20px;
    color: $light-white;
}

label::after {
    content: "*";
}

input:active {
    background: $light-white;
    color: $black;
}

.form {
    position: relative;

    input[type="text"] {
        border: none;
        background: $light-white;
        color: $black;
        opacity: 0.4;
        padding: 5px 10px;
        border-radius: 3px;
        width: 100%;
        font-size: 20px;
        line-height: 1.6;
        color: $offline-text;
        outline: none;
    }

    input[type="text"]:focus {
        background: $off-white;
        opacity: 0.7;
    }

    .icon {
        font-size: 20px;
        position: absolute;
        top: 0;
        padding: 5px 10px;
        cursor: pointer;
        color: $black;
        opacity: 0.8;
        line-height: 1.6;
        width: 40px;

        &.clear {
            right: 80px;
            background: rgba(245, 245, 245, 0);

            &:before {
                content: "\f00d";
                color: $red;
            }
        }

        &.search {
            right: 40px;
            background: $off-white;

            &:before {
                content: "\f002";
            }
        }

        &.random {
            right: 0;
            background: $light-white;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;

            &:before {
                content: "\f074";
            }
        }
    }
}

.post {
    background: $off-white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.8;

    &:first-child {
        margin-top: 15px;
    }

    &:hover {
        opacity: 1;
    }

    .title, .summary {
        color: $black;
    }

    .title {
        font-size: 18px;
    }

    .summary {
        font-size: 16px;
        opacity: 0.8;
    }
}

//loading spinner from https://loading.io/css/
.spinner {
    width: 80px;
    height: 80px;
    margin-top: 200px;

    .lds-roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }

    .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
    }

    .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        margin: -4px 0 0 -4px;
    }

    .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
    }

    .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
    }

    .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
    }

    .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
    }

    .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
    }

    .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
    }

    .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
    }

    .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
    }

    .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
    }

    .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
    }

    .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
    }

    .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
    }

    .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
    }

    .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
    }

    .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
    }

    .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
    }
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

